<?xml version="1.0"?>
<!--
/**
* Template hints
*
* @author Fabrizio Branca
*/
-->
<config>
    <sections>
        <dev>
            <groups>
                <aoe_templatehints>
                    <label>AOE Template Hints</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <templateHintRenderer translate="label">
                            <label>Template Hint Renderer</label>
                            <!--<comment><![CDATA[]]></comment>-->
                            <frontend_type>select</frontend_type>
                            <source_model>aoe_templatehints/adminhtml_system_config_source_hintRenderer</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </templateHintRenderer>
                        <enablePhpstormRemoteCall translate="label">
                            <label>Enable PHPStorm remote call</label>
                            <comment><![CDATA[Install the "Remote Call" plugin in PHPStorm.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enablePhpstormRemoteCall>
                        <remoteCallUrlTemplate translate="label">
                            <label>Remote call url template</label>
                            <comment><![CDATA[First %s will be replaced by file, second %s by line number]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </remoteCallUrlTemplate>
                    </fields>
                </aoe_templatehints>
            </groups>
        </dev>
    </sections>
</config>