<?xml version="1.0"?>
<!--
/**
 * Template hints
 *
 * @author Fabrizio Branca <fabrizio.branca@aoemedia.de>
 * @author André Herrn <info@andre-herrn.de> (Thanks, for making border colors configurable)
 */
-->
<config>
	<modules>
		<Aoe_TemplateHints>
			<version>0.0.2</version>
		</Aoe_TemplateHints>
	</modules>
	<global>
		<models>
			<aoe_templatehints>
				<class>Aoe_TemplateHints_Model</class>
			</aoe_templatehints>
		</models>
		<events>
			<core_block_abstract_to_html_after>
				<observers>
					<core_block_abstract_to_html_after>
						<type>singleton</type>
						<class>Aoe_TemplateHints_Model_Observer</class>
						<method>core_block_abstract_to_html_after</method>
					</core_block_abstract_to_html_after>
				</observers>
			</core_block_abstract_to_html_after>
		</events>
	</global>
	<default>
		<dev>
			<debug>
				<border_color_notcached>red</border_color_notcached>
				<border_color_cached>green</border_color_cached>
				<border_color_cached_inherit>orange</border_color_cached_inherit>
			</debug>
		</dev>
	</default>
</config>